@mixin html-has-class($class) {
  :root[class="#{$class}"] & {
    @content;
  }
}

@mixin app-theme($theme) {
  :root[data-app-theme="#{$theme}"] & {
    @content;
  }
}

@mixin font-face($font-family, $file-path, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src:
      url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
  }
}

@mixin supports-text-gradient {
  @supports (-webkit-background-clip: text) and
    (-webkit-text-fill-color: transparent) {
    @content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin background-image-set($image, $ext: "webp") {
  background-image: url("../../assets/images/#{$image}.#{$ext}");
  @supports (background-image: image-set()) {
    background-image: image-set(
      url("../../assets/images/#{$image}.#{ext}") 1x,
      url("../../assets/images/#{$image}@2x.#{ext}") 2x
    );
  }
}

@mixin fill-content {
  @apply absolute top-0 left-0 size-full m-auto object-cover;
}

@mixin scrollbar-thin() {
  @apply overflow-auto;

  // For Google Chrome
  &::-webkit-scrollbar {
    @apply size-2;
  }

  &::-webkit-scrollbar-thumb {
    // @apply bg-on-surface-faint-primary rounded-xl;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent rounded-xl;
  }

  // For Internet Explorer
  & {
    // scrollbar-face-color: theme('colors.on-surface.faint-primary');
    // scrollbar-track-color: theme('colors.on-surface.tertiary');
    // scrollbar-color: theme('colors.jade') transparent;
  }
}

@mixin scrollbar-none {
  /* hide scrollbar but allow scrolling */
  & {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
