{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11", "iOS >= 11"]
        }
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "@blocks": "./app/blocks/",
          "@components": "./app/components/",
          "@scripts": "./app/scripts/"
        }
      }
    ]
  ]
}
