{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11", "iOS >= 11"]
        }
      }
    ]
  ],
  "highlightCode": false,
  "ignore": ["node_modules"],
  "plugins": []
}
